In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train  = pd.read_csv('C:\\Users\\yunting\\Documents\\GitHub\\E.sun_conpetition\\data_set\\initial\\train.csv')
#test = pd.read_csv('C:\\Users\\yunting\\Documents\\GitHub\\E.sun_conpetition\\data_set\\initial\\test.csv')

In [3]:
train_col = train.columns.tolist()
train_nona = train.dropna(axis = 1).columns.tolist()
train_na = list(set(train_col) - set(train_nona)) #set no tolist()
train_na

['parking_area', 'txn_floor', 'parking_price', 'village_income_median']

In [7]:
train[train_na].describe()

       parking_area     txn_floor  parking_price  village_income_median
count   3103.000000  44098.000000   1.393500e+04           58858.000000
mean       7.211837      5.389269   5.025058e+04             674.840175
std       20.453902      3.944618   3.973488e+04             140.653083
min        0.000000      1.000000   0.000000e+00             411.000000
25%        3.738412      3.000000   2.827238e+04             583.000000
50%        5.758023      4.000000   4.379195e+04             642.000000
75%        7.180619      7.000000   6.148857e+04             729.000000
max      967.370868     28.000000   1.020404e+06            1851.000000

In [8]:
train['parking_area'].fillna(0, inplace = True)
train['parking_price'].fillna(0, inplace = True)
train['village_income_median'].fillna(train['village_income_median'].median(), inplace = True)

In [9]:
train[train_na].describe()

       parking_area     txn_floor  parking_price  village_income_median
count  60000.000000  44098.000000   6.000000e+04           60000.000000
mean       0.372972      5.389269   1.167070e+04             674.215117
std        4.917360      3.944618   2.858202e+04             139.380337
min        0.000000      1.000000   0.000000e+00             411.000000
25%        0.000000      3.000000   0.000000e+00             584.000000
50%        0.000000      4.000000   0.000000e+00             642.000000
75%        0.000000      7.000000   0.000000e+00             728.000000
max      967.370868     28.000000   1.020404e+06            1851.000000

In [10]:
train['txn_floor'].fillna('No_Value', inplace = True)

In [11]:
train[train_na].head()

   parking_area txn_floor  parking_price  village_income_median
0           0.0         3       0.000000                  572.0
1           0.0         5       0.000000                  550.0
2           0.0         1       0.000000                  625.0
3           0.0        13   81138.889762                  950.0
4           0.0  No_Value       0.000000                  536.0

# ohe

In [12]:
train_dummy_list = ['building_material','city','building_type','building_use','parking_way','town','village', 'txn_floor']

In [13]:
train.columns

Index(['building_id', 'building_material', 'city', 'txn_dt', 'total_floor',
       'building_type', 'building_use', 'building_complete_dt', 'parking_way',
       'parking_area',
       ...
       'XIV_500', 'XIV_index_500', 'XIV_1000', 'XIV_index_1000', 'XIV_5000',
       'XIV_index_5000', 'XIV_10000', 'XIV_index_10000', 'XIV_MIN',
       'total_price'],
      dtype='object', length=235)

In [14]:
train = pd.concat([train] + [pd.get_dummies(train[s], prefix=s) for s in train_dummy_list], axis=1)

In [15]:
train.columns

Index(['building_id', 'building_material', 'city', 'txn_dt', 'total_floor',
       'building_type', 'building_use', 'building_complete_dt', 'parking_way',
       'parking_area',
       ...
       'txn_floor_20.0', 'txn_floor_21.0', 'txn_floor_22.0', 'txn_floor_23.0',
       'txn_floor_24.0', 'txn_floor_25.0', 'txn_floor_26.0', 'txn_floor_27.0',
       'txn_floor_28.0', 'txn_floor_No_Value'],
      dtype='object', length=3414)

In [16]:
train.shape

(60000, 3414)

In [17]:
train = train.drop(train[train_dummy_list], axis=1)

In [18]:
train.shape

(60000, 3406)

In [19]:
y = train['total_price']
train = train.drop(['total_price'],  axis=1)
train = train.drop(['building_id'], axis = 1)

In [20]:
train.shape

(60000, 3404)

In [21]:
y.shape

(60000,)

# training

In [22]:
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.tree import DecisionTreeRegressor

In [23]:
trainX, testX, trainy, testy = train_test_split(train, y, test_size=0.3)

In [31]:
treereg = DecisionTreeRegressor()
cvlist = list(cross_val_score(treereg, trainX, trainy, cv=10, n_jobs=-1))

In [32]:
print('cvlist', cvlist)
print('平均:', np.mean(cvlist))
print('變異數:', np.var(cvlist))

cvlist [0.5978482776483611, 0.8990809318227134, 0.6969055031305822, 0.10303610076299252, 0.6874902897998114, 0.8292362589150727, 0.8647084963872347, 0.33288930589913035, 0.26508788879412937, 0.6254214422514912]
平均: 0.5901704495411518
變異數: 0.0659286522880424